Django
djangorestframework
django-filter
django-environ
django-crispy-forms
django-widget-tweaks
django-phonenumber-field
python-dotenv
mysql-connector-python
cryptography
argon2-cffi
cffi
requests
urllib3
certifi
sqlparse
Markdown
pytz
Pillow
